.bottle {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  margin: 25px;
  width: 60px;
  height: 280px;
  background-color: transparent;
  padding-top: 20px;
  border: 5px solid #94a1b2;
  border-top: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;

  & .fill {
    flex-grow: 1;
  }
}
