.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: white;
  padding: 5px 10px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;

  & svg {
    height: 24px;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
      border-color: white;
    }
  }

  &:active {
    opacity: 0.5;
    border-color: white;
  }
}
