.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header {
  text-align: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
