.header {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  box-sizing: border-box;
  width: 100%;

  @media (max-width: 450px) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

.linksContainer {
  display: flex;
  gap: 20px;
}

.btn {
  height: 36px;
  color: white;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 700px) {
    height: 24px;
  }
}
