.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px;
  gap: 20px;
  justify-content: space-between;

  @media (max-width: 700px) {
    padding: 0 20px;
  }
}

.linksContainer {
  display: flex;
  gap: 20px;
}

.btn {
  height: 36px;
  color: white;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 700px) {
    height: 24px;
  }
}
