.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  max-width: fit-content;
}

.label {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}
